{% extends "base.html.twig" %}

{% block content %}
    <h1>{{ content.title }}</h1>
    <input type="date" value={{ content.startDate}}>
    <input type="date" value= {{content.endDate}}>
{% endblock %}
