.menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 30%;
    border: 1px;
    border: solid;
    border-width: 30%;
    padding: 2%;
    margin: auto;
    font-family: fantasy;
    color: cornflowerblue;
}